name: zipviewer
description: ZIP/CBZ 이미지 뷰어
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  file_picker: ^8.0.3
  archive: ^3.4.10
  photo_view: ^0.15.0
  shared_preferences: ^2.2.3
  path_provider: ^2.1.3
  path: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
